<div class="container">
    <div class="row">{{$nodes := .nodes}}{{$nodeId := .node_id}}{{$error := .error}}
        <div class="col-md-12">
            <div class="panel-body" style="padding: 15px 0;">
                <ul class="nav nav-tabs">
                    <li><a href="/log/system">操作日志</a></li>
                    <li class="active"><a href="/log/node">节点日志</a></li>
                </ul>
            </div>
            <div class="panel-body" style="padding-left: 9px;">
                <div class="row">
                    <form action="/log/node" method="post">
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">节点</span>
                                <select class="form-control" name="node_id" onchange="Log.node(this)">
                                {{range $node := $nodes}}
                                    <option value="{{$node.node_id}}" {{if eq $node.node_id $nodeId}} selected {{end}}>{{$node.comment}} -- {{$node.manager_uri}}</option>
                                {{end}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon">数量</span>
                                <select class="form-control" name="number">
                                    <option value="10" {{if eq .number "10"}} selected {{end}}>10</option>
                                    <option value="30" {{if eq .number "30"}} selected {{end}}>30</option>
                                    <option value="50" {{if eq .number "50"}} selected {{end}}>50</option>
                                    <option value="100" {{if eq .number "100"}} selected {{end}}>100</option>
                                    <option value="150" {{if eq .number "150"}} selected {{end}}>150</option>
                                    <option value="200" {{if eq .number "200"}} selected {{end}}>200</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon">日志级别</span>
                                <select class="form-control" name="level">
                                    <option value="">全部</option>
                                    <option value="error" {{if eq .level "error"}} selected {{end}}>ERROR</option>
                                    <option value="info" {{if eq .level "info"}} selected {{end}}>INFO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input class="form-control" name="keyword" type="text" value="{{.keyword}}" placeholder="关键字">
                                <span class="input-group-btn">
                                  <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <button type="button" class="btn btn-primary" name="log_download" data-link="/log/list?node_id={{$nodeId}}"><i class="glyphicon glyphicon-download-alt"></i> 下载日志 </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {{if eq $error ""}}
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="w15p">Time</th>
                            <th class="w8p">Level</th>
                            <th>Body</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range $log := .logs}}
                        <tr>
                            <td class="center">{{$log.millisecond_format}}</td>
                            <td class="center">
                                {{if eq $log.level_string "Info"}}
                                <span class="label label-info">{{$log.level_string}}</span>
                                {{else if eq $log.level_string "Error"}}
                                <span class="label label-danger">{{$log.level_string}}</span>
                                {{else if eq $log.level_string "Debug"}}
                                <span class="label label-primary">{{$log.level_string}}</span>
                                {{end}}
                            </td>
                            <td>{{$log.body}}</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer"></div>
            </div>
            {{else}}
            <div class="alert alert-danger alert-dismissible fade in">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 style="margin-bottom: 0"><i class="glyphicon glyphicon-warning-sign"></i> 出错啦：{{$error}}</h4>
            </div>
            {{end}}
        </div>
    </div>
    <br>
</div>
<script src="/static/js/modules/log.js"></script>
<script type="text/javascript">
    Log.bindFancyBox();
</script>