<div class="panel panel-default">
    <div class="panel-body">
        <br>
        <form class="form-horizontal" action="/user/modify" method="post" onsubmit="return false">
            <input type="hidden" name="user_id" value="{{.user.user_id}}">
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span>用户名</label>
                <div class="col-sm-4">
                    <input type="text" name="username" class="form-control" placeholder="用户名" value="{{.user.username}}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span>邮箱</label>
                <div class="col-sm-4">
                    <input type="email" name="email" class="form-control" placeholder="邮箱" value="{{.user.email}}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">手机</label>
                <div class="col-sm-4">
                    <input type="text" name="mobile" class="form-control" placeholder="手机" value="{{.user.mobile}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 角色</label>
                <div class="col-sm-4">
                    <select name="role" class="form-control">
                        <option value="0" {{if eq .user.role "0"}} selected {{end}}>普通用户</option>
                        <option value="1" {{if eq .user.role "1"}} selected {{end}}>管理员</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" name="submit" onclick="Form.ajaxSubmit(this.form, true)" class="btn btn-success">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>