<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>WMQX-UI</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-wmqx.css"/>
    <link rel="stylesheet" href="/static/css/mricode.pagination.css"/>
    <link rel="stylesheet" href="/static/css/sweetalert.css"/>
    <link rel="stylesheet" href="/static/css/jquery.fancybox.css"/>
    <link rel="stylesheet" href="/static/css/content-style.css"/>

    <script src="/static/js/plugins/jquery/jquery.js"></script>
    <script src="/static/js/plugins/bootstrap/bootstrap.js"></script>
    <script src="/static/js/plugins/jquery/notify.js"></script>
    <script src="/static/js/plugins/pagination/mricode.pagination.js"></script>
    <script src="/static/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/static/js/plugins/fancybox/jquery.fancybox.js"></script>
    <script src="/static/js/plugins/jquery/jquery.form.js"></script>
    <script src="/static/js/common/common.js"></script>
    <script src="/static/js/common/date.js"></script>
    <script src="/static/js/common/form.js"></script>
    <!--<script src="/static/js/Chart.js"></script>-->
    <!--<script src="/static/js/script.js"></script>-->
</head>
<body>
<!--导航-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!--小屏幕导航按钮和logo-->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">WMQX-UI</a>
        </div>
        <!--小屏幕导航按钮和logo-->
        <!--导航-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {{if eq .navName "main"}}class="active"{{end}}><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;后台首页</a></li>
                {{ if eq .user.role "0"}}
                {{else}}
                <li {{if eq .navName "user"}}class="active"{{end}}><a href="/user/list"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;用户管理</a></li>
                {{end}}
                <li {{if eq .navName "node"}}class="active"{{end}}><a href="/node/list"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;节点管理</a></li>
                <li {{if eq .navName "message"}}class="active"{{end}}><a href="/message/list"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;节点消息</a></li>
                <li {{if eq .navName "log"}}class="active"{{end}}><a href="/log/system"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;日志管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{.user.username}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li><a href="/profile/index"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;个人信息</a></li>
                        <li><a href="/profile/repass"><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;修改密码</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/author/logout"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;退出</a>
                </li>
                <li class="dropdown">
                    <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;帮助
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li><a href="https://github.com/phachon/wmqx-ui/blob/master/README.md" target="_blank"><span class="glyphicon-refresh glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;在线文档</a></li>
                        <li><a href="http://github.com/phachon/wmqx-ui" target="_blank"><span class="glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;源代码</a></li>
                        <li><a href="http://github.com/phachon/wmqx-ui/issues/new" target="_blank"><span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Issue</a></li>
                        <li><a href="http://github.com/phachon/wmqx" target="_blank"><span class="glyphicon glyphicon-random"></span>&nbsp;&nbsp;WMQX</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--导航-->
    </div>
</nav>
<!--导航-->
{{.LayoutContent}}
<!--footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted center">
                    Copyright&nbsp;©&nbsp;2017-2018&nbsp;&nbsp;phachon@163.com&nbsp;&nbsp;
                </p>
            </div>
        </div>
    </div>
</footer>
<!--footer-->
</body>
</html>